



:root {
    --whiteColor: white;
    --blackColor: black;
    --greenColor: seagreen;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
}


* {
    box-sizing: border-box;
}




/*---------------------------NAVBAR -----------------------*/

.Nav-Container {
    width: 100%;
    overflow: hidden;
    background-color: var(--blackColor);

}



.Nav-Wrapper {
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1300px;
    text-align: center;
    color:var(--whiteColor)
}



.Nav-Wrapper button {
    background-color:whitesmoke;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:none;
    outline: none;
    border-radius: 3%;
    padding:1em 3em;

}


nav {
    padding:30px
}

main {
    padding:30px;
}

button {
    padding:1em 3em;
    background-color:var(--blackColor);
    color:var(--whiteColor);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:none;
    outline: none;
    border-radius: 3%;
}


button:hover {
    background-color:gold
}


.login-btn-container {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    max-width: 550px;
    text-align: center;
    margin-top: 210px;
}